* {
   font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
  height: 100vh;
   margin: 0;
   padding: 0; 
   font-family: Arial, Helvetica, sans-serif;
   font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
  background: rgb(38,38,43);
  background: linear-gradient(0deg, rgba(38,38,43,1) 4%, rgba(84,80,103,1) 25%, 
  rgba(222,147,108,1) 36%, rgba(140,70,91,1) 100%);
  }
  
  h1{
     text-align: center;
  }
  p{
     text-align: center;
  }