* {
 font-family: Arial, Helvetica, sans-serif;
}

body {
height: 100vh;
 margin: 0;
 padding: 0; 
 font-family: Arial, Helvetica, sans-serif;
 font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
 background: rgb(71,158,89);
background: linear-gradient(0deg, rgba(71,158,89,1) 0%, rgba(52,135,69,1) 8%, rgba(199,211,247,1) 9%, rgba(230,232,216,1) 11%, rgba(190,206,207,1) 39%, rgba(59,108,236,1) 100%, rgba(45,66,130,1) 100%);
}

h1{
   text-align: center;
}
p{
   text-align: center;
}


